<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skyrise.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Skyrise.Properties.Settings.dbConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\db.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Skyrise.Properties.Settings>
            <setting name="pushPassword" serializeAs="String">
                <value>hit2014</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>lLLIvp2TfJuPz8LT5rAMWULiV</value>
            </setting>
            <setting name="apiSecret" serializeAs="String">
                <value>zbnOFaRbkUkSAdTTPRI62a7n72VDZBOvPelIIgqwlhpzLVkkAt</value>
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value>2700577999-XfG65bnLlBJt7AasoQD6sxeO4UJOFEOENsuZlxw</value>
            </setting>
            <setting name="accessTokenSecret" serializeAs="String">
                <value>cMJbBYdj3DO2fcMHtxAQTKrn3A4uVW3qMFPBcp2AcAR7N</value>
            </setting>
        </Skyrise.Properties.Settings>
    </userSettings>
</configuration>